{% include head.html %}

<header class="header-banner">
  <div class="content-wrap">
    <menu class="top-menu">
      
      <a href="mailto://ameliafannin@gmail.com">
        <i class="icon-mail"></i>  
      </a>

      <a href="tel://7134440081">
        <i class="icon-phone"></i>
      </a>

      <a href="https://github.com/AmeliaFannin">
        <i class="icon-github"></i>
      </a>

      <a href="https://twitter.com/AmeliaFannin">
        <i class="icon-twitter"></i>
      </a>

    </menu>

    <h1 class="salutation">I'm Amelia.</h1> 
    <h2 class="greeting">I would like to work with you.</h2>

  

    <div class="call-out">
      <h3>You need a fast-learning, experience-hungry, Ruby developer.</h3>
      <h3>I want to contribute to—and learn from—an experienced engineering team.</h3>
    </div>
  </div>
</header>

<div class="content-wrap">

{{ content }}

{% include foot.html %}